body {
    background-color: #93A8AC;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #30638E;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.currency-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.currency-container select {
    padding: 10px;
}

.currency-container input {
    border: none;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: #fff;
}

.exchange-rate {
    font-size: 22px;
    font-weight: 600;
}

select:focus, input:focus {
    outline: none;
}