body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%);
}

h1 {
    color: white;
    line-height: 1;
    letter-spacing: 0.211em;
    font-size: 34px;
}

header {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

